<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/otp.css">

    <title>Document</title>
</head>

<body>
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to</span> <small>your email id.</small> </div>
                <form action="/otp" method="post">
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input
                        class="m-2 text-center form-control rounded" type="text" name="first" id="first" maxlength="1" /> <input
                        class="m-2 text-center form-control rounded" type="text" name="second" id="second" maxlength="1" /> <input
                        class="m-2 text-center form-control rounded" type="text" name="third" id="third" maxlength="1" /> <input
                        class="m-2 text-center form-control rounded" type="text" name="fourth" id="fourth" maxlength="1" /> <input
                        class="m-2 text-center form-control rounded" type="text" name="fifth" id="fifth" maxlength="1" /> <input
                        class="m-2 text-center form-control rounded" type="text" name="sixth" id="sixth" maxlength="1" /> </div>
                <div class="mt-4"> <button type="submit" class="btn btn-danger px-4 validate">Validate</button> </div>
            </form>
            </div>
            <div class="card-2">
                <div class="content d-flex justify-content-center align-items-center"> <span>Didn't get the code ?</span>
                    <a href="#" class="text-decoration-none ms-3">Resend(1/3)</a> </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="javascript/otp.js"></script>
</body>

</html>