<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Welcome <%= username %></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class = "active" href="/studentPage" >My courses</a></li>
            <li><a href="/studentEnroll">Courses offered</a></li>
            <li><a href="/logout" style="color: red;">Logout</a></li>
          </ul>
        </div>
      </nav>

    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course_name</th>
                <th scope="col">Instructor Approval Status</th>
                <th scope="col">Advisor Approval Status</th>
            </tr>
        </thead>

        <tbody>
            <% approved.forEach(function(object){ %>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <%= object.courseId%>
                    </td>
                    <td>
                        <%if( object.approvalByInstructor == 0){%>
                            Pending
                        <%} else if( object.approvalByInstructor == 1){%>
                            Approved
                        <%} else{%>
                            Rejected
                        <% }%>

                    </td>
                    <td>
                        <%if( object.approvalByAdvisor == 0){%>
                            Pending
                        <%} else if( object.approvalByAdvisor == 1){%>
                            Approved
                        <%} else{%>
                            Rejected
                        <% }%>
                    </td>
                </tr>
                <% }); %>

        </tbody>


    </table>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="javascript/homepage.js"></script>
</body>

</html>
